---
layout: default
---

<p>URL: {{ page.url }}</p>

{% assign pieces = page.url | split: "/" %}
{% assign url = "" %}

{% for piece in pieces %}
  {% assign url = url | append: "/" | append: piece %}

  {% assign name = "UNKNOWN" %} 
  {% for site_page in site.pages %}
    {% if site_page.url == url %}
      {% assign name = site_page.title %}
    {% endif %}
  {% endfor %}

  <p>{{ url }} - {{ name }}</p>

{% endfor %}

<p>URLs:</p>
  {% for site_page in site.pages %}
    <p>{{ site_page.url }}</p>
  {% endfor %} 

{{ content }}
